/PJS5_CSharp/.vs
/.vs
/PJS5_CSharp/PJS5_CSharp/obj
/PJS5_CSharp/Test_PJS5_CSharp/obj/Release/net6.0
/PJS5_CSharp/Test_PJS5_CSharp/obj/Debug/net6.0/Test_PJS5_CSharp.AssemblyInfo.cs
/PJS5_CSharp/Test_PJS5_CSharp/obj/Debug/net6.0/Test_PJS5_CSharp.AssemblyInfoInputs.cache
/PJS5_CSharp/Test_PJS5_CSharp/obj/Debug/net6.0/Test_PJS5_CSharp.csproj.AssemblyReference.cache
/PJS5_CSharp/Test_PJS5_CSharp/obj/Debug/net6.0/Test_PJS5_CSharp.GeneratedMSBuildEditorConfig.editorconfig
/PJS5_CSharp/Test_PJS5_CSharp/obj/project.assets.json
/PJS5_CSharp/Test_PJS5_CSharp/obj/project.nuget.cache
/PJS5_CSharp/Test_PJS5_CSharp/obj/Test_PJS5_CSharp.csproj.nuget.dgspec.json
/PJS5_CSharp/Test_PJS5_CSharp/obj/Test_PJS5_CSharp.csproj.nuget.g.props
/PJS5_CSharp/Test_PJS5_CSharp/bin/Debug/net6.0/Test_PJS5_CSharp.dll
/PJS5_CSharp/Test_PJS5_CSharp/bin/Debug/net6.0/Test_PJS5_CSharp.pdb
/PJS5_CSharp/Test_PJS5_CSharp/obj/Debug/net6.0/Test_PJS5_CSharp.assets.cache
/PJS5_CSharp/Test_PJS5_CSharp/obj/Debug/net6.0/Test_PJS5_CSharp.csproj.CoreCompileInputs.cache
/PJS5_CSharp/Test_PJS5_CSharp/obj/Debug/net6.0/Test_PJS5_CSharp.dll
/PJS5_CSharp/Test_PJS5_CSharp/obj/Debug/net6.0/Test_PJS5_CSharp.genruntimeconfig.cache
/PJS5_CSharp/Test_PJS5_CSharp/obj/Debug/net6.0/Test_PJS5_CSharp.pdb
/PJS5_CSharp/Test_PJS5_CSharp/obj/Debug/net6.0/Test_PJS5_CSharp.sourcelink.json
/PJS5_CSharp/Test_PJS5_CSharp/obj/Debug/net6.0/ref/Test_PJS5_CSharp.dll
/PJS5_CSharp/Test_PJS5_CSharp/obj/Debug/net6.0/refint/Test_PJS5_CSharp.dll
